*.env
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
bot_output.log
bot_error.log
rapport_devsecops.pdf
projet_rapport.pdf
tools/
images/
/.idea/
.vscode/
Dockerfile
docker-compose.override.yml